SECRET=
PORT=3000
FRONT_END_URL=http://localhost:3001

# Sequelize
NODE_ENV=test

# Variaveis para o Sequelize (ambiente 'test')
DB_USERNAME_TEST=root
DB_PASSWORD_TEST=
DB_DATABASE_TEST=vehicles_test_db
DB_HOST_TEST=127.0.0.1

FTP_HOST=
FTP_USER=
FTP_PASS=
FTP_FOLDER=
FTP_PUBLIC_BASE_URL=